.fdry-footer__wrapper-top {
	background-color: #021b79;
	padding: 60px 0;
}

.fdry-footer__wrapper-bottom {
	background-color: #0044b0;
	padding: 60px 0 35px;
}

.fdry-footer-top-text,
.fdry-footer__apr-text {
	p + p {
		margin-top: 20px;
	}
}

.fdry-footer {
	color: $color__bright;
	text-align: center;

	.content-block {
		max-width: 1200px;
		margin: auto;
	}

	p {
		color: $color__bright;
		font-size: 12px;
		line-height: 25px;
		font-weight: 400;
	}

	.fdry-footer-apr__title {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 25px;
	}

	.fdry-footer-social {
		margin-bottom: 41px;
	}

	.fdry-footer-social__wrapper {
		display: flex;
		column-gap: 20px;
		justify-content: center;

		img {
			height: 60px;
			width: 60px;
		}
	}

	.fdry-footer__area-links {
		margin-bottom: 40px;
		a {
			color: $color__bright;
			font-size: 12px;
		}
	}

	.fdry-footer__menu-wrapper {
		margin-bottom: 45px;
		margin-top: 25px;

		@include media('<phone') {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
			margin-top: 25px;
		}

		nav + nav {
			margin-top: 25px;
			@include media('<phone') {
				margin-top: 0;
			}
		}

		nav {
			ul {
				list-style: none;
				display: flex;
				justify-content: center;
				column-gap: 34px;
				@include media('<phone') {
					flex-direction: column;
					row-gap: 20px;
				}
				a {
					color: $color__bright;
					font-size: 13px;
					text-decoration: underline;
				}
			}
		}
	}

	.copyright {
		font-size: 11px;
	}

	.autotrader-footer-table {
		ul {
			list-style: none;
			text-align: left;
			font-size: 13px;
			max-width: 750px;
			margin-top: 28px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 50px;
			li {
				padding: 3px;
				color: white;
				border: 1px solid #b3bee3;
				display: flex;
				justify-content: space-between;
				font-weight: 400;
				align-items: center;
				span {
					display: inline-flex;
					width: 50px;
					height: 20px;
					border-left: 1px solid;
					justify-content: center;
					align-items: center;
					@include media('<phone') {
						height: 39px;
					}

					i {
						position: relative;
						top: 3px;
					}
				}

				svg {
					width: 20px;
					height: auto;
					path {
						fill: white;
					}
				}
			}
		}
	}
}

.sticky-footer {
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100000;
	padding: 8px;
	padding-top: 0;
	padding-bottom: 0;
	background: #009640;

	img {
		height: 58px;
		margin: auto;
	}

	@include media('>phone') {
		display: none;
	}
}
