.fdry-site-header {
	background-color: #0044b0;
	color: $color__bright;
	position: sticky;
	top: 0;
	z-index: 9;

	.menu-top-level {
		display: flex;
		list-style: none;
		column-gap: 20px;

		@include media('<tablet') {
			flex-direction: column;
			row-gap: 20px;
		}

		li {
			a {
				color: $color__bright;
				font-weight: 500;
				font-size: 16px;
			}
		}
	}
}

.nav-map__mobile {
	display: none;
	padding: 0px 35px 20px;
	color: white;
	font-weight: 600;
	text-decoration: underline;
	svg {
		width: auto;
		height: 23px;
	}

	@include media('<tablet') {
		display: block;
	}
}

.fdry-site-header__wrapper {
	display: flex;
	padding-top: 9px;
	padding-bottom: 9px;
	align-items: center;

	@include media('<tablet') {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

.fdry-main-logo {
	margin-right: 50px;

	@include media('<tablet') {
		margin-right: 30px;
	}

	img {
		width: 96px;
	}
}

.fdry-header-visit {
	> a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $color__bright;
		row-gap: 5px;
		font-size: 12px;
		font-weight: 500;
	}
}

.fdry-header-nav {
	margin-right: 60px;
	@include media('<desktop') {
		margin-right: 30px;
	}

	@include media('<tablet') {
		opacity: 0;
		pointer-events: none;
		margin-right: 0;
		z-index: 10;
		position: fixed;
		width: 100%;
		left: -100%;
		top: 0;
		background-color: $color__main;
		transition: left 0.5s ease-in-out, opacity 0.5s;
	}

	&.is-active {
		left: 0%;
		opacity: 1;
		pointer-events: all;
	}
}

.fdry-header-trustpilot {
	display: inline-flex;
	column-gap: 30px;
	margin-left: auto;
	@include media('<tablet') {
		margin-left: 0px;
		margin-right: auto;
	}
	.nav-map__desktop {
		@include media('<tablet') {
			display: none;
		}
	}

	a {
		display: inline-block;

		svg {
			width: auto;
			height: 37px;
		}
	}

	> img {
		width: auto;
		height: 48px;
		@include media('<tablet') {
			height: 55px;
		}
	}
}

.fdry-top-hour-banner {
	position: sticky;
	top: 0;
	z-index: 9;
	background-color: white;
	padding: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	> div {
		color: #b32d25;
		font-weight: 600;
		font-size: 14px;

		a {
			color: #b32d25;
			font-weight: 600;
			font-size: 14px;
		}

		span {
			color: #1a3a6c;
		}
	}
}

.sticky-top-banner {
	margin-bottom: 25px;
	overflow-x: hidden;
	position: sticky;
	top: 32px;
	z-index: 9;
}

// MOBILE
.fdry-site-header {
	.fdry-hamburger {
		display: none;

		@include media('<tablet') {
			display: block;
			z-index: 11;
			position: relative;
			margin-left: 30px;
		}
	}
}

.site-header__menu {
	@include media('<tablet') {
		padding: 80px 35px;
		z-index: 10;
	}
}
